<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header">
                </div>
                <!--/.box-header-->
                <div class="box-body">
                    <div class="callout callout-default minibox">
                        <h4>Select Class</h4>
                        <section class="example-section">

                            <mat-checkbox class="example-margin" [checked]="allComplete" [color]="task.color"
                                [indeterminate]="someComplete()" (change)="setAll($event.checked)">
                                {{task.name}}
                            </mat-checkbox>

                        </section>
                        <section class="example-section">
                            <ul>
                                <li style="display: inline-block" *ngFor="let subtask of task.subtasks">
                                    <mat-checkbox class="example-margin" [(ngModel)]="subtask.completed"
                                        [color]="subtask.color" (ngModelChange)="updateAllComplete()">
                                        {{subtask.name}}
                                    </mat-checkbox>
                                </li>
                            </ul>
                        </section>
                    </div>
                    <div class="callout callout-default minibox">
                        <h4>Select Stream</h4>
                        <section class="example-section">

                            <mat-checkbox class="example-margin" [checked]="allComplete" [color]="task.color"
                                [indeterminate]="someComplete()" (change)="setAll($event.checked)">
                                {{task.name}}
                            </mat-checkbox>

                        </section>
                        <section class="example-section">
                            <ul>
                                <li style="display: inline-block" *ngFor="let subtask of task.subtasks">
                                    <mat-checkbox class="example-margin" [(ngModel)]="subtask.completed"
                                        [color]="subtask.color" (ngModelChange)="updateAllComplete()">
                                        {{subtask.name}}
                                    </mat-checkbox>
                                </li>
                            </ul>
                        </section>
                    </div>
                    <button type="submit" class="pull-right" mat-raised-button color="primary">Save</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
</section>