<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header">
                    <!-- <button class="pull-right" data-toggle="modal" data-target="#myModal" mat-raised-button
                        color="primary">Add Class Stream</button> -->
                </div>
                <!--/.box-header-->
                <div class="box-body">
                    <div class="row">
                        <form>
                            <div class="col-md-4">
                                <label>Search</label>
                                <div class="has-feedback">
                                    <input type="text" class="form-control input-md"
                                        placeholder="e.g, name, registration no.">
                                    <span class="glyphicon glyphicon-search form-control-feedback"></span>
                                </div>
                            </div>
                        </form>
                        <div class="col-md-2">
                            <button mat-raised-button color="primary"
                                style="margin-top:23px; margin-bottom:10px">Go</button>
                        </div>
                        <div class="col-md-6">
                            <div class="info-box">
                                <span class="info-box-icon">
                                    <img src="assets/dist/img/user5-128x128.jpg" class="user-image" alt="Student Image">
                                </span>
                                <div class="minibox box-default">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <th style="width:30%">Name :</th>
                                                    <td>Amit Singh</td>
                                                </tr>
                                                <tr>
                                                    <th>Class :</th>
                                                    <td>5th</td>
                                                </tr>
                                                <tr>
                                                    <th>Father :</th>
                                                    <td>Ramesh Singh</td>
                                                </tr>
                                                <tr>
                                                    <th>Father Contact :</th>
                                                    <td>0987654528</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- /.info-box-content -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box box-primary">
                <!--/.box-header-->
                <div class="box-body">
                    <div class="row">
                        <form>
                            <div class="col-md-3">
                                <label>Pickup Route</label>
                                <select class="form-control">
                                    <option>--Select--</option>
                                    <option>A</option>
                                    <option>B</option>
                                    <option>C</option>
                                    <option>D</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label>Pickup Point</label>
                                <select class="form-control">
                                    <option>--Select--</option>
                                    <option>A</option>
                                    <option>B</option>
                                    <option>C</option>
                                    <option>D</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label>Drop Route</label>
                                <select class="form-control">
                                    <option>--Select--</option>
                                    <option>A</option>
                                    <option>B</option>
                                    <option>C</option>
                                    <option>D</option>
                                </select>
                            </div>

                            <div class="col-md-3">
                                <label>Drop Point</label>
                                <select class="form-control">
                                    <option>--Select--</option>
                                    <option>A</option>
                                    <option>B</option>
                                    <option>C</option>
                                    <option>D</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
                <!--/.box-header-->
                <div class="box-body">    
                    <div class="callout callout-default">
                        <label>Months</label>
                        <mat-checkbox color="primary" class="example-margin">All</mat-checkbox> 
                      </div>
                      <section class="callout callout-default example-section">
                        <mat-checkbox color="primary" class="example-margin">July</mat-checkbox>
                        <mat-checkbox color="primary" class="example-margin">August</mat-checkbox>
                        <mat-checkbox color="primary" class="example-margin">September</mat-checkbox>
                        <mat-checkbox color="primary" class="example-margin">October</mat-checkbox>
                        <mat-checkbox color="primary" class="example-margin">November</mat-checkbox>
                        <mat-checkbox color="primary" class="example-margin">December</mat-checkbox>
                        <mat-checkbox color="primary" class="example-margin">January</mat-checkbox>
                        <mat-checkbox color="primary" class="example-margin">February</mat-checkbox>
                        <mat-checkbox color="primary" class="example-margin">March</mat-checkbox>
                        <mat-checkbox color="primary" class="example-margin">April</mat-checkbox>
                        <mat-checkbox color="primary" class="example-margin">May</mat-checkbox>
                        <mat-checkbox color="primary" class="example-margin">June</mat-checkbox>
                      </section>
                      <hr>
                      <div class="row">
                        <form>
                            <div class="col-md-4">
                                <label>Transport Fee</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-md-4">  
                            </div>
                            <div class="col-md-4">
                                <button type="submit" class="pull-right" style="margin-top:23px;" 
                                mat-raised-button color="warn">Cancel</button> 
                                <button type="submit" class="pull-right" style="margin-top:23px; margin-right:10px;" 
                                mat-raised-button color="primary">Submit</button> 
                            </div>  
                        </form>
                    </div>
                          
                       
                      
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
</section>