<section class="content">
    <!-- <div class="row">
      <a class="btn btn-app btn-info pull-right" style="margin-right: 12px;" routerLink="/admin/add-member">
        <i class="fa fa-plus"></i> Add Member
      </a> -->
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header">
                </div>
                <div class="box-body">
                    <mat-horizontal-stepper #stepper>
                        <!--Step-1-->
                        <mat-step [stepControl]="studentinfoFormGroup">
                            <form [formGroup]="studentinfoFormGroup">
                                <ng-template matStepLabel>Student Information</ng-template>
                                <div class="row">
                                    <div class="col-md-3">
                                        <mat-form-field class="example-full-width">
                                            <mat-label> Student Name</mat-label>
                                            <input matInput placeholder="student name" formControlName="student_name"
                                                required>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3">
                                        <mat-form-field>
                                            <mat-label>Student Class</mat-label>
                                            <mat-select formControlName="student_class" required>
                                                <mat-option>None</mat-option>
                                                <mat-option *ngFor="let class of classes" [value]="class">{{class}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3">
                                        <mat-form-field>
                                            <mat-label>Section</mat-label>
                                            <mat-select formControlName="student_section" required>
                                                <mat-option>None</mat-option>
                                                <mat-option *ngFor="let section of sections" [value]="section">
                                                    {{section}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Roll no</mat-label>
                                            <input matInput type="number" placeholder="roll no."
                                                formControlName="roll_no" required>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-3">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Registration No.</mat-label>
                                            <input matInput type="number" placeholder="Registration no."
                                                formControlName="registration_no" required>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3">
                                        <mat-form-field>
                                            <mat-label>Admission Date</mat-label>
                                            <input matInput [matDatepicker]="picker" formControlName="admission_date"
                                                required>
                                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-datepicker #picker></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3">
                                        <mat-form-field>
                                            <mat-label>School Shift</mat-label>
                                            <mat-select formControlName="school_shift" required>
                                                <mat-option>None</mat-option>
                                                <mat-option *ngFor="let shift of shifts" [value]="shift">{{shift}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3">
                                        <mat-form-field>
                                            <mat-label>Gender</mat-label>
                                            <mat-select formControlName="gender" required>
                                                <mat-option>None</mat-option>
                                                <mat-option *ngFor="let gender of genders" [value]="gender">{{gender}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-3">
                                        <mat-form-field>
                                            <mat-label> Date OF Birth</mat-label>
                                            <input matInput [matDatepicker]="picker" formControlName="dob" required>
                                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-datepicker #picker></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3">
                                        <mat-form-field>
                                            <mat-label>Religion</mat-label>
                                            <mat-select formControlName="religion" required>
                                                <mat-option>None</mat-option>
                                                <mat-option *ngFor="let religion of religions" [value]="religion">
                                                    {{religion}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3">
                                        <mat-form-field>
                                            <mat-label>Caste</mat-label>
                                            <mat-select formControlName="caste" required>
                                                <mat-option>None</mat-option>
                                                <mat-option *ngFor="let caste of castes" [value]="caste">{{caste}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3">
                                        <mat-form-field>
                                            <mat-label>Nationality</mat-label>
                                            <mat-select formControlName="nationality" required>
                                                <mat-option>None</mat-option>
                                                <mat-option *ngFor="let nationality of nationalities"
                                                    [value]="nationality">{{nationality}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-3">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Student RFID</mat-label>
                                            <input matInput type="number" placeholder="student RfId"
                                                formControlName="student_rfId" required>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Aadhar No.</mat-label>
                                            <input matInput type="number" placeholder="aadhar no."
                                                formControlName="aadhar_no" required>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3">
                                    </div>
                                    <div class="col-md-3">
                                    </div>
                                </div>
                                <!-- -------file upload--------------------->
                                <br>
                                <hr>

                                <p>Documents Upload <span class="fa fa-upload text-red">
                                        (*jpeg, png, pdf)</span></p>
                                <br>
                                <div class="row">
                                    <div class="col-md-2">
                                        <mat-form-field class="example-full-width">
                                            <mat-toolbar>
                                                <input matInput readonly name="name" />
                                            </mat-toolbar>
                                            <mat-label> Student Photo</mat-label>
                                            <input type="file" #fileInput id="uploadFile" name="uploadFile"
                                                multiple="multiple" accept="image/*" />
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-2">
                                        <mat-form-field class="example-full-width">
                                            <mat-toolbar>
                                                <input matInput readonly name="name" />
                                            </mat-toolbar>
                                            <mat-label> Transfer Certificate</mat-label>
                                            <input type="file" #fileInput id="uploadFile" name="uploadFile"
                                                multiple="multiple" accept="image/*" />
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-2">
                                        <mat-form-field class="example-full-width">
                                            <mat-toolbar>
                                                <input matInput readonly name="name" />
                                            </mat-toolbar>
                                            <mat-label> Marksheet</mat-label>
                                            <input type="file" #fileInput id="uploadFile" name="uploadFile"
                                                multiple="multiple" accept="image/*" />
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-2">
                                        <mat-form-field class="example-full-width">
                                            <mat-toolbar>
                                                <input matInput readonly name="name" />
                                            </mat-toolbar>
                                            <mat-label> Birth Certificate</mat-label>
                                            <input type="file" #fileInput id="uploadFile" name="uploadFile"
                                                multiple="multiple" accept="image/*" />
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-2">
                                        <mat-form-field class="example-full-width">
                                            <mat-toolbar>
                                                <input matInput readonly name="name" />
                                            </mat-toolbar>
                                            <mat-label> Id Proof</mat-label>
                                            <input type="file" #fileInput id="uploadFile" name="uploadFile"
                                                multiple="multiple" accept="image/*" />
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-2"></div>
                                </div>
                                <br>
                                <div class="pull-right">
                                    <button mat-raised-button matStepperNext color="primary">Next</button>
                                </div>
                            </form>
                        </mat-step>
                        <!--step-2---->
                        <mat-step [stepControl]="parentinfoFormGroup">
                            <br>
                            <form [formGroup]="parentinfoFormGroup">
                                <ng-template matStepLabel>Parent Information</ng-template>
                                <div class="row">
                                    <div class="col-md-3">
                                        <mat-form-field class="example-full-width">
                                            <mat-label> Father Name</mat-label>
                                            <input matInput placeholder="father name" formControlName="father_name"
                                                required>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3">
                                        <mat-form-field class="example-full-width">
                                            <mat-label> Father Mobile No.</mat-label>
                                            <input matInput type="mobile" placeholder="father mobile no"
                                                formControlName="father_mobile" required>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3">
                                        <mat-form-field class="example-full-width">
                                            <mat-label> Father Email Id</mat-label>
                                            <input matInput placeholder="father email" formControlName="father_email">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3">
                                        <mat-form-field>
                                            <mat-label>Father Qualification</mat-label>
                                            <mat-select formControlName="father_qualification" required>
                                                <mat-option>None</mat-option>
                                                <mat-option>8th</mat-option>
                                                <mat-option>10th</mat-option>
                                                <mat-option>Graduation</mat-option>
                                                <mat-option>Post graduation</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-3">
                                        <mat-form-field>
                                            <mat-label>Father Occupation</mat-label>
                                            <mat-select formControlName="father_occupation" required>
                                                <mat-option>None</mat-option>
                                                <mat-option>Self employed</mat-option>
                                                <mat-option>Government job</mat-option>
                                                <mat-option>Private job</mat-option>
                                                <mat-option>Farmer</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3">
                                        <mat-form-field class="example-full-width">
                                            <mat-label> Mother Name</mat-label>
                                            <input matInput type="text" placeholder="Mother name"
                                                formControlName="mother_name" required>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3">
                                        <mat-form-field>
                                            <mat-label>Mother Occupation</mat-label>
                                            <mat-select formControlName="mother_occupation" required>
                                                <mat-option>None</mat-option>
                                                <mat-option>Self employed</mat-option>
                                                <mat-option>Government job</mat-option>
                                                <mat-option>Private job</mat-option>
                                                <mat-option>Home maker</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3">
                                        <mat-form-field>
                                            <mat-label>Mother Tounge</mat-label>
                                            <mat-select formControlName="mother_tounge">
                                                <mat-option>None</mat-option>
                                                <mat-option>Hindi</mat-option>
                                                <mat-option>English</mat-option>
                                                <mat-option>Bengali</mat-option>
                                                <mat-option>Bhojpuri</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <br>
                                <div class="pull-right">
                                    <button mat-raised-button matStepperPrevious
                                        style="margin-right: 10px;">Back</button>
                                    <button mat-raised-button matStepperNext color="primary">Next</button>
                                </div>
                            </form>
                        </mat-step>
                        <!--step--3-->
                        <mat-step [stepControl]="addressFormGroup">
                            <br>
                            <form [formGroup]="addressFormGroup">
                                <ng-template matStepLabel>Address Details</ng-template>
                                <div class="row">
                                    <div class="col-md-3">
                                        <mat-form-field>
                                            <mat-label>State</mat-label>
                                            <mat-select formControlName="state_name" required>
                                                <mat-option>None</mat-option>
                                                <mat-option *ngFor="let country of countries" [value]="country">
                                                    {{country}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3">
                                        <mat-form-field>
                                            <mat-label>District</mat-label>
                                            <mat-select formControlName="district_name" required>
                                                <mat-option>None</mat-option>
                                                <mat-option *ngFor="let country of countries" [value]="country">
                                                    {{country}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3">
                                        <mat-form-field>
                                            <mat-label>City/ Village</mat-label>
                                            <mat-select formControlName="city_name" required>
                                                <mat-option>None</mat-option>
                                                <mat-option *ngFor="let country of countries" [value]="country">
                                                    {{country}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3">
                                        <mat-form-field class="example-full-width">
                                            <mat-label> Pin</mat-label>
                                            <input matInput type="number" placeholder="Pin" formControlName="pin_no"
                                                required>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-4">
                                        <mat-form-field class="example-full-width">
                                            <mat-label> House No, Street, Society</mat-label>
                                            <input matInput placeholder="Address" formControlName="address" required>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4">

                                    </div>
                                    <div class="col-md-4">
                                    </div>
                                </div>
                                <br>
                                <div class="pull-right">
                                    <button mat-raised-button matStepperPrevious
                                        style="margin-right: 10px;">Back</button>
                                    <button mat-raised-button matStepperNext color="primary">Submit</button>
                                </div>
                            </form>
                        </mat-step>
                    </mat-horizontal-stepper>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
</section>