<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header">
                    <!-- <button class="pull-right" data-toggle="modal" data-target="#myModal" mat-raised-button
                        color="primary">Add Class Stream</button> -->
                </div>
                <!--/.box-header-->
                <div class="box-body">
                    <div class="row">
                        <form>
                            <div class="col-md-3">
                                <label>Class</label>
                                <select class="form-control">
                                    <option>--Select--</option>
                                    <option>Class 1st</option>
                                    <option>Class 2d</option>
                                    <option>Class 3rd</option>
                                    <option>Class 4rt</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label>Section</label>
                                <select class="form-control">
                                    <option>--Select--</option>
                                    <option>A</option>
                                    <option>B</option>
                                    <option>C</option>
                                    <option>D</option>
                                </select>
                            </div>
                        </form>
                        <div class="col-md-2">
                            <button mat-raised-button color="primary"
                             style="margin-top:23px; margin-bottom:10px">Go</button>
                        </div>
                        <div class="col-md-4">
                            <label>Search</label>
                            <div class="has-feedback">
                                <input type="text" class="form-control input-md"
                                    placeholder="e.g, name, registration no.">
                                <span class="glyphicon glyphicon-search form-control-feedback"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box box-primary">
                <!--/.box-header-->
                <div class="box-body">
                    <div class="table-responsive">
                        <table id="mytable" class="table table-bordred table-striped">
                            <thead>
                                <tr>
                                    <th>S.N</th>
                                    <th>Student</th>
                                    <th>Class</th>
                                    <th>Section</th>
                                    <th>Reg. No.</th>
                                    <th width="20%">RFID</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td>1</td>
                                    <td>Amit Kumar</td>
                                    <td>9th</td>
                                    <td>A</td>
                                    <td>123456</td>
                                    <td><input type="text" class="form-control input-md" style="min-width:100px;"
                                            placeholder="RfId">
                                    </td>
                                    <td>
                                        <button type="button" mat-raised-button color="primary">
                                            Save
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Amit Kumar</td>
                                    <td>9th</td>
                                    <td>A</td>
                                    <td>123456</td>
                                    <td><input type="text" class="form-control input-md" style="min-width:100px;"
                                            placeholder="RfId">
                                    </td>
                                    <td>
                                        <button type="button" mat-raised-button color="primary">
                                            Save
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Amit Kumar</td>
                                    <td>9th</td>
                                    <td>A</td>
                                    <td>123456</td>
                                    <td><input type="text" class="form-control input-md" style="min-width:100px;"
                                            placeholder="RfId">
                                    </td>
                                    <td>
                                        <button type="button" mat-raised-button color="primary">
                                            Save
                                        </button>
                                    </td>
                                </tr>

                                <tr>
                                    <td>4</td>
                                    <td>Amit Kumar</td>
                                    <td>9th</td>
                                    <td>A</td>
                                    <td>123456</td>
                                    <td>
                                        <input type="text" class="form-control input-md" style="min-width:100px;"
                                            placeholder="RfId">
                                    </td>
                                    <td>
                                        <button type="button" mat-raised-button color="primary">
                                            Save
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!--/table-->
            </div>
        </div>
    </div>
    <!-- /.row -->
</section>