<section class="login_wrapper">
    <div class="login_form div1 login-form-1">
        <div class="row">
            <label></label>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-1 text-center">
                <!--<img class="custom-w-h" src="assets/theme/img/letswim_login_logo.png" width="" alt=" logo">-->
            </div>
        </div>
        <div class="row">
            <p class="login-box-msg"><strong>SIGN IN</strong></p>
            <div class="col-md-10 col-md-offset-1">
                <p class="login-box-msg alert alert-danger"><strong></strong></p>
            </div>  
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
                
                <!-- <form class="example" [formGroup]="loginFormGroup">
                   
                    <div class="row">
                      <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                          <mat-label>Email Id</mat-label>
                          <input matInput placeholder="Email" formControlName="user_id" required>
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                          <mat-label>Password</mat-label>
                          <input matInput placeholder="Password" formControlName="user_password" required>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="pull-right">
                      <button mat-button  color="warn">Next</button>
                    </div>
                  </form> -->
            </div>
        </div>
        <div class="col-md-12 col-xs-12 panel-footer padding-md no-margin no-border bg-danger text-center text-white login-footer"
            style="width: 100%; position: relative; margin-top: -100px;">
            © 2021 Shri Sanatan
        </div>
    </div>
</section>