<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header">
                    <!-- <button class="pull-right" data-toggle="modal" data-target="#myModal" mat-raised-button
                        color="primary">Add Class Stream</button> -->
                </div>
                <!--/.box-header-->
                <div class="box-body">
                    <div class="row">
                        <form>
                            <div class="col-md-3">
                                <label>Fee Type<span class="text-red">*</span></label>
                                <select class="form-control">
                                    <option>--Select--</option>
                                    <option>Old</option>
                                    <option>New</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <button mat-raised-button color="primary"
                                style="margin-top:23px; margin-bottom:10px">Search</button>
                            </div>
                        </form>
                        <div class="col-md-3"></div>
                        <div class="col-md-3">
                            <button mat-raised-button color="primary"
                                style="margin-top:23px; margin-bottom:10px">
                                <mat-icon>add</mat-icon> Add New Fee</button>
                                <button mat-raised-button color="accent" class="pull-right"
                                style="margin-top:23px; margin-bottom:10px">
                                <mat-icon>create</mat-icon> Update Fee</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box box-primary">
                <!--/.box-header-->
                <div class="box-body">
                    <mat-tab-group>
                        <mat-tab label="Nur">
                            <br>
                            <div class="table-responsive">
                                <table id="mytable" class="table table-bordred">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Fee Name</th>
                                            <th width="40%">Total</th>
                                            <th>Fee Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                            <td>Monthly Fee(Apr)</td>
                                            <td>5000</td>
                                            <td>12-01-2020</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>Monthly Fee(May)</td>
                                            <td>5000</td>
                                            <td>12-01-2020</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>Monthly Fee(Jun,Jul)</td>
                                            <td>5000</td>
                                            <td>12-01-2020</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>Monthly Fee(Aug)</td>
                                            <td>5000</td>
                                            <td>12-01-2020</td>
                                        </tr>
                                    </tbody>
                                </table><!--/table-->
                            </div>
                        </mat-tab>
                        <mat-tab label="L.K.G">
                            <br>
                            <div class="table-responsive">
                                <table id="mytable" class="table table-bordred">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Fee Name</th>
                                            <th width="40%">Total</th>
                                            <th>Fee Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                            <td>Monthly Fee(Apr)</td>
                                            <td>5000</td>
                                            <td>12-01-2020</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>Monthly Fee(May)</td>
                                            <td>5000</td>
                                            <td>12-01-2020</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>Monthly Fee(Jun,Jul)</td>
                                            <td>5000</td>
                                            <td>12-01-2020</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>Monthly Fee(Aug)</td>
                                            <td>5000</td>
                                            <td>12-01-2020</td>
                                        </tr>
                                    </tbody>
                                </table><!--/table-->
                            </div>
                        </mat-tab>
                        <mat-tab label="U.K.G"></mat-tab>
                        <mat-tab label="1st"></mat-tab>
                        <mat-tab label="2nd"></mat-tab>
                        <mat-tab label="3rd"></mat-tab>
                        <mat-tab label="4th"></mat-tab>
                        <mat-tab label="5th"></mat-tab>
                        <mat-tab label="6th"></mat-tab>
                        <mat-tab label="7th"></mat-tab>
                        <mat-tab label="8th"></mat-tab>
                        <mat-tab label="9th"></mat-tab>
                        <mat-tab label="10th"></mat-tab>
                        <mat-tab label="11th"></mat-tab>
                        <mat-tab label="12th"></mat-tab>  
                      </mat-tab-group>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
</section>