<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header">
        </div>
        <!--/.box-header-->
        <div class="box-body">
          <form>
            <div class="row callout callout-default minibox">
              <div class="col-md-4">
                <mat-form-field appearance="">
                  <mat-label>Select Class</mat-label>
                  <mat-select multiple>
                    <mat-option *ngFor="let class of classes" [value]="class">{{class}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field class="example-chip-list">
                  <mat-label>Create section</mat-label>
                  <input placeholder="add new section..." [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                    (matChipInputTokenEnd)="add($event)">
                  <mat-chip-list #chipList>
                  </mat-chip-list>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <button type="submit" mat-raised-button color="primary">Save</button>
              </div>
            </div>
          </form>
          <div class="callout callout-default minibox">
            <h4>Section List</h4>
            <mat-label >Class 1st</mat-label>
            <mat-chip *ngFor="let section of sections" [selectable]="selectable" [removable]="removable"
              (removed)="remove(section)">
              {{section.name}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>

          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->
</section>