<section class="content">
    <div class="row">
      
      <div class="col-md-12">
        <div class="box box-primary">
          <div class="box-header"> 
            <li class="fa fa-calendar text-bold pull-right"> Software Expiry Date:<span> 30/01/2021</span></li> 
          </div>
          <!--/.box-header-->
          <div class="box-body">
              <div class="row">
                <div class="col-md-1"></div> 
                <div class="col-md-2">  
                  <ul class="price">
                    <li class="bg-info header">Starter</li>
                    <li class="grey">₹ 5000 /Yr</li>
                    <li>365 Days</li>
                    <li>5000 SMS Free</li>
                    <li class="grey"><a href="#" class="button">Pay Online</a></li>
                  </ul>    
                </div>
                <div class="col-md-2">
                  <ul class="price">
                    <li class="bg-primary header">Basic</li>
                    <li class="grey">₹ 10,000 /2yrs</li>
                    <li>730 Days</li>
                    <li>5000 SMS Free</li>
                    <li class="grey"><a href="#" class="button">Pay Online</a></li>
                  </ul>  
                </div>
                <div class="col-md-2">
                  <ul class="price">
                    <li class="bg-green header">Standard</li>
                    <li class="grey">₹ 15,000 /3yrs</li>
                    <li>1095 Days</li>
                    <li>5000 SMS Free</li>
                    <li class="grey"><a href="#" class="button">Pay Online</a></li>
                  </ul> 
                </div>
                <div class="col-md-2">
                  <ul class="price">
                    <li class="bg-yellow header">Plus</li>
                    <li class="grey">₹ 20,000 / 4yrs</li>
                    <li>1460 Days</li>
                    <li>5000 SMS Free</li>
                    <li class="grey"><a href="#" class="button">Pay Online</a></li>
                  </ul> 
                </div>
                <div class="col-md-2">
                  <ul class="price">
                    <li class="bg-red header">Premium</li>
                    <li class="grey">₹ 25,000 / 5yrs</li>
                    <li>1800 Days</li>
                    <li>5000 SMS Free</li>
                    <li class="grey"><a href="#" class="button">Pay Online</a></li>
                  </ul> 
                </div>
                <div class="col-md-1"></div> 
              </div>
            <!-- <button type="submit" class="pull-right" mat-raised-button color="primary">Submit</button> -->
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
  </section>
