<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header">
                    <!-- <button class="pull-right" data-toggle="modal" data-target="#myModal" mat-raised-button
                        color="primary">Add Class Stream</button> -->
                </div>
                <!--/.box-header-->
                <div class="box-body">
                    <div class="row">
                        <form>
                            <div class="col-md-4">
                                <label>Upload Students Data <span class="text-red"> (.csv*, .xlsx*)</span></label>
                                <div class="has-feedback">
                                <input type="file" class="form-control input-md">   
                            </div>
                        </div>
                            <div class="col-md-4">
                                <button mat-raised-button color="primary" style="margin-top:23px">Submit</button>
                            </div>
                            <div class="col-md-4">
                                <a class="btn btn" style="margin-top: 23px;">
                                    <i class="fa fa-download"></i> Smaple Download
                                  </a>
                            </div>
                        </form>
                    </div>
                    </div>
                       
                    </div>
                </div>
        </div>
    <!-- /.row -->
</section>